body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
}

.cursor {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

.circle {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #ff2828;
    mix-blend-mode: difference;
}